.background{
    -fx-background-color: rgba(116, 20, 26, 0.11);
}
.check-box {
    -fx-background-color: rgba(111,0,0,0.2);
    -fx-border-color: #6F0000;
    -fx-border-radius:3px;
}
.text-area{
    -fx-border-color: #6F0000;
    -fx-border-radius:3px;
}
.text-area .content {
    -fx-background-color: rgba(111,0,0,0.2);
}

.button{
    -fx-background-color: #ffffff;
    -fx-border-color: #6F0000;
}